:root {
    --stone-950: #0c0a09;
    --stone-900: #1c1917;
    --stone-800: #292524;
    --stone-700: #44403c;
    --stone-600: #57534e;
    --stone-500: #78716c;
    --stone-400: #a8a29e;
    --stone-300: #d6d3d1;
    --stone-200: #e7e5e4;
    --stone-100: #f5f5f4;
    --stone-50: #fafaf9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.serif {
    font-family: "Roboto Serif", serif;
}

html {
    font-size: clamp(0.85rem, 2.5vw, 1.05rem);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--stone-50);
    color: var(--stone-900);
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}


/* -- */

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: clamp(2rem, 5vw, 4.5rem);
    padding-right: clamp(2rem, 5vw, 4.5rem);
    padding-top: 1rem;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 3rem
}

.header ul {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 3vw, 3rem);
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: var(--stone-950);
}

.header .title {
    font-size: 1.75rem;
    font-weight: 500;
}

.button {
    font: inherit;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--stone-400);
    background: var(--stone-50);
    cursor: pointer
}


.button:hover {
    background: var(--stone-100);
    transition: background .2s ease;
}


/*  */

main {
    margin-top: clamp(2rem, 6vh, 4rem);
    display: flex;
    gap: 2rem;
    padding-left: clamp(2rem, 5vw, 4.5rem);
    padding-right: clamp(2rem, 5vw, 4.5rem);
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

main .about {
    flex: 40%;
}

main .scroll-area {
    display: flex;
    flex: 60%;
    overflow: auto;
}

main .scroll-area div {
    height: 99999px;
    width: 100%;
}

main .about h1 {
    font-size: clamp(1.75rem, 4vw, 2.25rem);
    font-weight: 500;
}

main .about p {
    font-size: 1.1rem;

}

main .bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main .profile {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    object-position: center -100px;
    border-radius: 20px;
}